@import '../../style/variables.scss';

.Root {
  display: flex;
  flex-direction: column;
}

.movieStats {
  display: flex;
  flex-direction: column;
}

.summaryHeading {
  color: $color-gray9;
  font-weight: bold;
  margin-right: $spacing-xxsmall;
  font-family: $font-poppins;
  font-size: 0.8rem;
}

.statText {
  font-family: $font-poppins;
  font-size: 0.8rem;
}
