@import '../../style/variables.scss';

.Root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.searchContainer {
  display: flex;
  margin: $spacing-large $spacing-large $spacing-xxsmall $spacing-large;
  padding-bottom: $spacing-large;
  border-bottom: 1px solid $color-gray8;
}

.listContainer {
  padding: $spacing-xxsmall $spacing-large;
  flex: 1 0 auto;
}

.pageControlContainer {
  margin: $spacing-large 0;
}
