@import '../../style/variables.scss';
@import '~sass-mq';

.Root {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}

.asideContainer {
  border-right: 1px solid $color-nero;

  @include mq(small) {
    flex: 1 0 auto;
  }

  @include mq($from: medium) {
    flex: 0 0 350px;
  }
}

.mainContainer {
  @include mq(small) {
    flex: 0 1 0%;
  }

  @include mq($from: medium) {
    flex: 1 0 auto;
    max-width: 1080px;
    padding: $spacing-large;
  }
}
