$font-poppins: 'Poppins', sans-serif;
$font-merriweather: 'Merriweather', serif;

$spacing-tiny: 2px;
$spacing-xxsmall: 4px;
$spacing-xsmall: 8px;
$spacing-small: 12px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-xlarge: 36px;
$spacing-xxlarge: 48px;

$color-gray0: #f8f9fa;
$color-gray1: #ebedef;
$color-gray2: #dce1e4;
$color-gray3: #ced3d7;
$color-gray4: #bfc4c7;
$color-gray5: #afb3b6;
$color-gray6: #9ca0a3;
$color-gray7: #86898b;
$color-gray8: #696c6e;
$color-gray9: #3d3f40;

$color-firebrush: #e49f43;
$color-tamarillo: #a21824;

$mq-responsive: true;

$mq-breakpoints: (
  small: 375px,
  medium: 768px,
  large: 992px,
  extraLarge: 1200px
);

$mq-show-breakpoints: (small, medium, large, extraLarge);
