@import '../../style//variables.scss';

.Root {
  display: flex;
  justify-content: space-;
}

.infoPane {
  flex: 1 0 50%;
  margin-right: auto;
}

.movieTitle {
  font-family: $font-poppins;
}

.plotText {
  font-family: $font-merriweather;
  font-size: 0.8rem;
  line-height: 1.6;
  max-width: 550px;
}

.movieStats {
  display: flex;
  flex-direction: column;
}

.statTitle {
  font-weight: bold;
}

.statText {
  font: $font-poppins;
}

.imagePane {
  flex: 1 0 auto;
}
