@import '../../style//variables.scss';

.Root {
  display: flex;
  flex-direction: column;
}

.itemList {
  list-style-type: none;
  padding: 0;
}

.listContainer {
  flex: 1 0 auto;
  font-family: $font-poppins;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.listInfo {
  display: flex;
  flex-direction: column;
  font-family: $font-poppins;
}

.controlButton {
  display: block;
  border: none;
  background-color: none;
}
