@import '../../style/variables.scss';

.Root {
  padding: $spacing-small 0 $spacing-small $spacing-xlarge;
  display: flex;
  position: relative;
  border-radius: 12px;
  width: 100%;
  background-color: $color-gray4;
}

.textInput {
  outline: none;
  border: 0;
  flex: 1 0 auto;
  align-items: baseline;
  font-family: $font-poppins;
  background: none;

  &::placeholder {
    font-family: $font-poppins;
    color: $color-gray7;
  }
}

.searchIcon {
  position: absolute;
  left: 0;
  top: 10px;
  left: 4px;
  fill: $color-gray9;
}
