@import '../../style/variables.scss';

.Root {
  display: flex;
  justify-content: space-between;
}

.withoutPrevButton {
  padding-left: $spacing-xlarge;
}

.withoutNextButton {
  padding-right: $spacing-xlarge;
}

.listInfo {
  display: flex;
  flex-direction: column;
  font-family: $font-poppins;
  align-items: center;
  flex: 1 0 auto;
  color: $color-gray3;
}

.pageCount {
  font-size: 0.9em;
  margin-bottom: $spacing-xxsmall;
}

.totalCount {
  font-size: 0.9em;
}

.controlButton {
  background: none;
  display: block;
  border: none;
  cursor: pointer;
}

.buttonIcon {
  fill: $color-gray4;
}
